@charset "UTF-8";
body {
	background-color: lightblue;
}
.h1 h1::first-letter {
	color: black;
    font-size: 200%;
}
h1 {
	color: blue;
	text-align: center;
}
span.h2:hover {
	color: red;
	background-color: yellow;
}
h2 {
	color: blue;
	text-align: center;
}

.p1 p::first-line {
	color: red;
}
a:link {
	background-color: white;
}
a:visited {
	background-color: blue;
	color: white;
}
.img {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}